body {
  text-align: center;
  margin: 0;
  background-color: #1B1717;
}
h1 {
  font-family: Waterfall, cursive;
  font-size: 6em;
}
h2 {
  font-family: Waterfall, cursive;
  font-size: 4em;
}
h3{
  margin: 0;
  font-size: 4em;
}
p {
  font-family: 'Slabo 27px', serif;
  font-size: 1.9em;
  color: #1B1717;
}
hr {
  width: 73%;
  border-color: #CE1212;
}

.top-container {
  background-color: #EEEBDD;
  padding-top: 50px;
  width: 70%;
  margin: auto;
  border-style: solid;
  border-color: #810000;
  border-width: 2em;
  border-top: 25px;
  border-bottom: 25px;
  padding-bottom: 0;
}
.middle-container {
  width: 70%;
  margin: auto;
  border-style: solid;
  border-color: #810000;
  border-width: 2em;
  border-top: 25px;
  border-bottom: 25px;
  background-color: #D8B6A4;
  padding-bottom: 0;
}
.bottom-container {
  width: 70%;
  background-color: #EEEBDD;
  margin: auto;
  border-style: solid;
  border-color: #810000;
  border-width: 2em;
  border-top: 25px;
  border-bottom: 25px;
  padding-bottom: 18em;
}
.konu {
  margin-bottom: 0;
}
.mononoke {
  width: 70;
  margin: auto;
}
